{%extends 'main/header.html'%}
{%load static%}
{%block user_body%}
<link rel="stylesheet" href="{% static 'main/match.css'%}">
<main class="main">
  {% if interest %}
  <div class="main-container">
      {% for user in interest %}
        <div class="card">
          <div class="img-div">
            {% if user.img %}
              <img src="../../media/{{user.img}}" class="card-img-top" alt="Profile image not available">
            {% else %}
              <img src="../../media/profileImg/default_profile.png" class="card-img-top" alt="Profile image not available">
            {% endif %}
          </div>
          <div class="card-body">
            <p class="card-text"><strong>{{user.fname}} {{user.lname}}</strong> and You Both have Mutual Intrest <br/></p>
            <div class="interess-btn">
              
              <form action="{% url 'searchDetail'%}" class="form" method="GET">
                <input type="hidden" name="relation" id="hidden_data" value="matched">
                <button type="submit" name="view" id="view" value="{{ user.id }}" class="btn btn-primary">View</button>
              </form>

            </div>
          </div>
        </div>
      {%endfor%}
    </div>
    {%else%}
    <h3 style="padding-top: 10rem; "><center>{{msg}}</center></h3>
  {%endif%}
</main>

{% endblock %}